* {
  box-sizing: border-box;
  margin: 0;
}
html {
  width: 100%;
}
body {
  width: 100%;
  justify-content: "center";
  margin-top: "200px";
  margin-left: 100px;
  /* background-color: rgb(51, 45, 45); */
}
div.main {
  width: "200rem";
  height: "50rem";

  padding: 5;
}

#navigator {
  display: flex;
  width: "200px";
  flex-wrap: wrap;
  gap: 2rem;
}
.folderName {
  width: 20px;
}
.folder {
  margin: 12px;
  display: flex;
  align-items: "center";
  flex-direction: column;
  margin-left: 3rem;
  margin-bottom: 1rem;
}
